/* Color Palette
charcoal - #435861
coffee pot - #928880
ivory - #E5DED8
marsala - #B88470
https://www.canva.com/colors/color-palettes/dusky-knits/
*/


body{

    background-image:url("../images/drinks2.jpg")
}

.navbar{
    background-color:rgb(50, 165, 159);
    

}

.navbar-brand{
    background-image: url('');
}

.jumbotron{

    background-color:rgb(33, 150, 86);
}

br{
    width: 100%;

}



.weather {
    float: left;
    height: 400px;  /* The height is 400 pixels */
    width:49%;  /* The width is the width of the web page */
    background-color:rgb(163, 173, 21);
}

.drinks{
    float:right;
    height: 400px; 
    width:49%; 
    background-color:rgb(163, 173, 21);

}


.footer {
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color:rgb(50, 165, 159);
  }
<<<<<<< HEAD
.drinkSpot{
    color: white;
    border: solid 1px greenyellow;
}
=======

footer{
    text-align: center;
}


@media(max-width: 767px) {
    .weather { 
      float:none;
      width:;
    }

    .drinks { 
        float:none;
        width:;
      }
  }
>>>>>>> 1fb6c49ed037957e7819c29b70bd0ceb33e962da
