
body{

    background-image:url("../images/drinks2.jpg")
}

.navbar{
    background-color:rgb(50, 165, 159);
    

}

.jumbotron{

    /*background-color:rgb(33, 150, 86);*/
    background-color: #F3C10C;
    margin:20px 0 20px 0;
    padding: 30px;
}

br{
    width: 100%;

}



.weather {
    float: left;
    height: 400px;  /* The height is 400 pixels */
    width:49%;  /* The width is the width of the web page */
    /*background-color:rgb(163, 173, 21);*/
    background-color: #3FD4D4;
}

.drinks{
    float:right;
    height: 400px; 
    width:49%; 
    /*background-color:rgb(163, 173, 21);*/
    background-color: #3FD4D4;

}


.footer {
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color:rgb(50, 165, 159);
  }
.drinkSpot{
    color: white;
    border: solid 1px greenyellow;
}

#gif {
    margin-right: 30px;
    float: left;
}

footer{
    text-align: center;
}

@media(max-width: 767px) {
    .container {
        margin: 5px auto;
    }

    .weather { 
      float:none;
      width:100%;
      height: 300px;
      margin-bottom: 5px;
    }

    .drinks { 
        float:none;
        height: 300px;
        width:100%;
      }

    .jumbotron {
        display: none;
    }
  }